.wrapper {
  background-color: #101010;
  border-radius: 30px;
  height: 200px;
}

.title {
  font-size: 30px;
  color: #fff;
  max-width: 300px;
  padding-left: 221px;
  padding-top: 60px;
  font-weight: 500;
}

.wrapper {
  position: relative;
}

.img {
  position: absolute;
  right: 200px;
  top: -46px;
}
